:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;                
  justify-content: center; /* для отцентровки модально окна относительно своего контейнера и чтоб могла работать нормально анимация по центру, а не  выезжать справа снизу из-за translate(-50%, -50%)в селекторе .modal. Но коментирую позиционирование(второй способ центровки )*/
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.85);
}

.modal {
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: scale(1) translate(-50%, -50%);*/
  transform: scale(1);
  transition: transform var(--animation-duration) var(--timing-function);
  background-color: #188ce8;
}


.close-modal-btn {
  padding: 5px 10px;
  cursor: pointer;
}

.modal-picture {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
  /*background-size: cover;*/
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  transition: background-color var(--animation-duration) var(--timing-function);
  background-image: url("../images/icon-close.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  border-radius: 50%;
  outline: none;
  border: none;

}

.close-modal-btn:hover {
  background-color: rgba(66, 66, 66, 0.5);
}